<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="hamburger-img">
            <div><img src="../Assets/img/burger.jpg" class="img-responsive" alt="hamburger gif"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Burgers Ordered!</h3>
        </div>
        <div class="col-6" id="devouredH3">
            <h3>Burgers Devoured!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <div>
                <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}  <button data-id="{{id}}" class="devoured">Devour It!</button>
                </li>
                {{/unless}}
                {{/each}}
                </ul>
            </div>
        </div>
        {{!-- <div class="col-4">
            <div>
                {{#each burgers}}
                {{#unless devoured}}
                <div>
                    
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div> --}}
        <div class="col-6">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}<button data-id="{{id}}" class="deleteBurger">x</button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="submit-burger">
            <input name="burger-name" id="burger-name" placeholder="Enter Burger" /><br>
            <button id="submit">Submit</button>
            <p>Enter a burger you want to eat. Click the 'Submit' button.</p>
        </div>
    </div>
</div>