body{
    background-image: url("../img/tree-starry-sky.jpg");
    /* background-image: url("../img/MilkyWay.jpg"); */
    background-repeat: yes; 
    background-size: cover; 
    background-position: center;
    font-family: 'Noto Serif', serif;
    color: white;
}

#hamburger-img, #devouredH3, h1, #submit-burger {
    text-align: center;
}

 #submit, .devoured {
    background-color: blueviolet;
    color: white;
}

#burger-name {
    width: 300px;
    padding-bottom: 15px;
    border-bottom: 15px;
    text-align: center;
}

.deleteBurger {
    color: white;
    border: 0px;
    background: transparent;
}